img{
    
    max-width: 500px;
    
 
}
h2{
    color:black;
    text-align:left;
}

div{
    font-size:large;
    font-family: 'Times New Roman';
    position: fixed;
    top: 50%;
    left: 50%;
    
    

    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  div a{
      color:blue;
      font-size:larger;
      text-decoration: none;
  }
  div p{
      color:darkgrey;
  }

    

